@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

:root {
  --background: #f4f4f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f5;
    --foreground: #171717;
  }
}

html,
body {
  min-height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
